.subfooter{background-color:#d14785;}
a:hover{text-decoration:none;}.page-title{display:none;}.breadcrumb{display:none;}.menu{display:none;}.views-field{text-align:center;}.views-field-title{font-size:25px;font-weight:bold;}.image-style-large{display:block;margin:0px auto;}
